.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100px;
    margin: auto;
    text-align: center;
    font-size: 9px;
    font-family: arial;
    
    
}

.cardp-1 {
    /* padding-bottom: 10px; */
    height: 15px;
    padding: 2px;
}
         
